p {
    font-family: HCo Gotham SSm, Helvetica, Arial, san-serif;
    color: white;
}
a {
    font-family: HCo Gotham SSm, Helvetica, Arial, san-serif;
    color: rgb(200, 200, 200);
    text-decoration: none;
}
h1 {
    font-family: HCo Gotham SSm, Helvetica, Arial, san-serif;
    color: white;
}
h2 {
    font-family: HCo Gotham SSm, Helvetica, Arial, san-serif;
    color: white;
}
h3 {
    font-family: HCo Gotham SSm, Helvetica, Arial, san-serif;
    color: white;
}
h4 {
    font-family: HCo Gotham SSm, Helvetica, Arial, san-serif;
    color: white;
}
h5 {
    font-family: HCo Gotham SSm, Helvetica, Arial, san-serif;
    color: white;
}
h6 {
    font-family: HCo Gotham SSm, Helvetica, Arial, san-serif;
    color: white;
}